.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 130px;
    background-color: #F5F6FF;
    text-align: center;

    .hyperlink {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    .hyperlink ul {
        padding: 0;
    }
    
    .hyperlink li {
        display: inline;
    }
    
    .hyperlink a {
        display: inline-block;
        padding: 10px;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 550;
        color: black;
        text-decoration: none;
    }
    
    #copyright {
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 13px;
        font-weight: 300px;
        color: black;
    
    }
}



